@{
   ViewBag.Title = "Գլխավոր";
}

<div class="jumbotron">
    <h1>VH PROD</h1>
    <p class="lead">Փործնական տարբեարկ ASP.NET - ի միջոցով կայք ստեղծելու</p>

    
</div>
<div>
    <h1>Variable: @ViewBag.Variable</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Սկսել</h2>
        <p>
            
        </p>
      
        <p><a class="btn btn-default" href="/Home/Index">Home &raquo;</a></p>
    </div>
   
    
</div>