
@{
    ViewBag.Title = "newCustom";
}

<h2>newCustom</h2>
<ul>
    <li>List1</li>
    <li>List2</li>
    <li>List3</li>
    <li>List4</li>
    <li>List5</li>
</ul>
<table>

    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
    <tr>
        <td>new table</td>
    </tr>
</table>
<a href="~/favicon.ico" class="bottom" data-ajax="false">new this</a> 
<br>
<a href="~/Views/Home/About.cshtml" >Lockout</a>

